{% extends 'entity/base_form.html.twig' %}
{% block form %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">{{ form_row(form.nom) }}</div>
        </div>
    </div>

{% endblock %}