{% extends 'entity/base_show.html.twig' %}

{% block tab %}
    <thead>
    <tr>
        <th>id poste</th>
        <th>nom</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ poste.idposte }}</td>
        <td>{{ poste.nom }} </td>
    </tr>
    </tbody>
{% endblock %}

{% block previous %}
    <div class="text-center">
        <a class="btn btn-primary ml-3 mb-3" href="{{ path(routeIndex) }}" role="button">Retour aux postes</a>
    </div>
{% endblock %}